.idea/
cmake-build-debug/
cmake-build-release/
bin/
log/
conf_win/
example/
venv/
include/3rdparty
tools/CUAA00AUS_R_20210010000_01D_CN.rnx
tools/CUAA00AUS_R_20210010000_01D_CN.rnx.gz
tools/CUAA00AUS_R_20210010000_01D_GN.rnx
tools/CUAA00AUS_R_20210010000_01D_GN.rnx.gz
tools/CUAA00AUS_R_20210010000_01D_IN.rnx
tools/CUAA00AUS_R_20210010000_01D_IN.rnx.gz
tools/CUBB00AUS_R_20210010000_01D_30S_MO.crx
tools/CUBB00AUS_R_20210010000_01D_30S_MO.rnx
tools/tools.rar
data/data_mgex/brdm3350.19p
*.19o
*.atx
data/data_mgex/CAS0MGXRAP_20193350000_01D_01D_DCB.BSX
data/data_mgex/CODG3350.19I
data/data_mgex/igs19P2082.erp
data/data_mgex/igs19P2082.snx
data/data_mgex/ocnload.blq
data/data_mgex/P1C11912.DCB
data/data_mgex/P1P21912.DCB
data/data_mgex/P2C21912_RINEX.DCB
data/data_mgex/result_gbm/PPP_KINE/G_DF_IF/redu_F.pos
data/data_mgex/wum20820.clk
data/data_mgex/wum20820.erp
data/data_mgex/wum20820.sp3
data/data_mgex/wum20821.sp3
